:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --foreground-rgb: 0, 0, 0;
  --background-main: #101012;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --card-rgb: 100, 100, 100; /* Shrimp: 230, 89, 89 | Dark: 100, 100, 100 | Chant: 63, 41, 90 */
  --card-border-rgb: 200, 200, 200;
}

* {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
body,
html {
  max-width: 100vw;
  user-select: none;
}
body {
  background: linear-gradient(to bottom, transparent, var(--background-main))
    rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
}
a {
  color: inherit;
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 0 5px 5px 0;
  box-shadow: inset 0 0 5px #4ca6ca;
}
::-webkit-scrollbar-thumb {
  background: #626267;
  border-radius: 0 5px 5px 0;
}
::-webkit-scrollbar-thumb:hover {
  background: #4ca6ca;
  border-radius: 0 5px 5px 0;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  margin: 0 25px 25px;
  padding-bottom: env(safe-area-inset-bottom);
}
.description {
  align-items: inherit;
  display: inherit;
  font-size: 20px;
  justify-content: center;
  max-width: var(--max-width);
  text-align: left;
  width: 100%;
  z-index: 2;
}
.code,
.description {
  font-family: var(--font-mono);
}
.code {
  font-weight: 700;
}
.card {
  align-items: center;
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  border-radius: var(--border-radius);
  display: flex;
  height: 90vh;
  width: 100%;
}
.cardSlider {
  background: #222226;
  border: 1px solid rgba(var(--card-border-rgb), 0);
  border-radius: 12px;
  height: 165px;
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
}
.dot {
  background-color: #222226;
  border-radius: 35%;
  height: 30px;
  width: 30px;
}
.home:hover,
.homeHigh {
  background-color: #8e44ad;
  transition: 0.25s ease-in-out;
}
.settings:hover,
.settingsHigh {
  background-color: #000000;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}
.projects:hover,
.projectsHigh {
  background-color: #ff6161;
  transition: 0.25s ease-in-out;
}
.blog:hover,
.blogHigh {
  background-color: #1abc9c;
  transition: 0.25s ease-in-out;
}
.cardSocials {
  background: #121213;
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  border-radius: 5px;
  height: 50px;
  text-align: center;
  transition: background 0.2s, border 0.2s;
  width: 120px;
}
@media (hover: hover) and (pointer: fine) {
  .cardSocials:hover {
    background: rgba(var(--card-rgb), 0.1);
    cursor: pointer;
  }
}
.cardInternal {
  overflow-wrap: normal;
}
.card span {
  display: inline-block;
  transition: transform 0.2s;
}
.center {
  align-items: center;
  justify-content: center;
}
.button {
  background-color: #121213;
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  border-radius: 4px;
  padding: 0.5rem 1.2rem;
  text-align: center;
  transition: background 0.2s, border 0.2s;
  width: auto;
}
@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background: #1c1c21;
    border: 1px solid #829be7;
    cursor: pointer;
  }
  .disable:hover {
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    cursor: not-allowed !important;
  }
}
.parent {
  display: flex;
  flex: 1 auto;
  flex-flow: wrap;
  height: 100vh;
}
.boxes {
  justify-content: center;
  text-align: center;
}
.hiding {
  display: none;
}
@media screen and (max-width: 841px) {
  .hide {
    display: none;
  }
  .hiding {
    display: block;
  }
}
.flexGrid {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  overflow-y: auto;
}
.flex {
  flex: 1 auto;
}
.blogCard {
  background: #121213;
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  border-radius: 5px;
  height: 90px;
  padding: 0.4rem;
  position: relative;
  text-align: center;
  transition: background 0.2s, border 0.2s;
  width: auto;
  width: 400px;
}
.blogCard:hover {
  background: rgba(var(--card-rgb), 0.1);
  cursor: pointer;
}
.blogTitle {
  font-size: 19px;
  gap: 3px;
}
.blogTitle,
.gamesCard {
  position: relative;
  text-align: center;
}
.gamesCard {
  background: #121213;
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  border-radius: 5px;
  height: 100px;
  padding: 0.4rem;
  transition: background 0.2s, border 0.2s;
  width: auto;
  width: 240px;
}
.gamesCard:hover {
  background: rgba(var(--card-rgb), 0.1);
  cursor: pointer;
}
.gamesTitle {
  display: flex;
  flex-direction: row;
  font-size: 19px;
  font-weight: 800;
  gap: 3px;
  position: relative;
}
.projectCard {
  background: #121213;
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  border-radius: 5px;
  height: 150px;
  position: relative;
  text-align: center;
  transition: background 0.2s, border 0.2s;
  width: 320px;
}
.projectCard:hover {
  background: rgba(var(--card-rgb), 0.1);
  cursor: pointer;
}
.projectTitle {
  display: flex;
  flex-direction: row;
  font-size: 19px;
  font-weight: 800;
  gap: 3px;
  margin-left: 20px;
  margin-top: 8px;
  text-align: left;
}
.img,
.projectTitle {
  border-radius: 9999px;
}
.projectDesc {
  color: #a29f9f;
  margin-left: 20px;
  margin-top: 4px;
  position: absolute;
  top: 40px;
  word-wrap: normal;
}
.projectDesc,
.projectTags {
  font-size: 12px;
  text-align: left;
}
.projectTags {
  align-items: center;
  border-radius: 3px;
  float: left;
  font-weight: 600;
  height: fit-content;
  margin-bottom: 6px;
  margin-left: 7.7px;
  padding: 2.3px;
  text-align: center;
  width: fit-content;
}
.tags {
  bottom: 25px;
  left: 12px;
  position: absolute;
}
.projectFooter {
  bottom: 5px;
  color: #a29f9f;
  font-size: 11px;
  margin-left: 20px;
  position: absolute;
  text-align: left;
}
.blogTitle {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  font-weight: 800;
  text-align: left;
  top: 5px;
}
.blogHeader {
  color: #caf964;
  font-size: 20px;
}
.blogFooter {
  color: #6b6a6a;
  font-size: 10px;
  position: absolute;
  top: 53px;
}
.blogPostSecondary {
  display: flex;
  flex-direction: row;
  gap: 3px;
}
.blogPostBody {
  color: #dcdbdb;
  font-size: 15px;
  margin-right: 5px;
}
.imageSource {
  border-radius: 7px;
  float: left;
  margin: 5px;
}
.link {
  color: #9a5cb4;
  text-decoration-line: underline;
}
.blockquote {
  border-left: 0.3em solid #8230a5;
  color: #8230a5;
  padding-left: 10px;
}
.divider {
  background-color: hsla(0, 0%, 100%, 0.2);
  height: 1.5px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 99%;
}
.Blue {
  color: #4ca6ca;
}
@media (max-width: 841px) {
  .sizing {
    text-wrap: pretty;
    font-size: 15px;
    margin-right: 1.5px;
    text-align: center;
  }
  .projectTags {
    align-items: center;
    border-radius: 3px;
    float: left;
    font-size: 12px;
    font-weight: 600;
    height: fit-content;
    margin-bottom: 6px;
    margin-left: 8px;
    margin-top: 4px;
    padding: 2px;
    text-align: left;
    text-align: center;
    width: fit-content;
  }
  .description {
    margin-left: 10px;
  }
  .centered {
    align-items: center;
    justify-content: center;
  }
  .sliderSide {
    width: 182px;
  }
  .sliderSide,
  .sliderSideSecondary {
    background: #222226;
    border: 1px solid rgba(var(--card-border-rgb), 0);
    border-radius: 12px;
    height: 40px;
    margin-bottom: 5px;
  }
  .sliderSideSecondary {
    width: 50px;
  }
}
.dividerUp {
  background-color: hsla(0, 0%, 100%, 0.2);
  width: 1.5px;
  margin-right: 10px;
  margin-left: 10px;
}
.settingsCard {
  background: #222226;
  color: white;
  border: 2px solid #000;
  border-radius: 5px;
  height: 165px;
  width: 300px;
  position: relative;
  text-align: center;
  transition: 0.2s, border 0.2s;
}

.settingsCardM {
  background: #222226;
  color: white;
  border: 2px solid #000;
  border-radius: 5px;
  height: 165px;
  width: 250px;
  position: relative;
  text-align: center;
  transition: 0.2s, border 0.2s;
}

.settingsInput {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  font-weight: 800;
  gap: 3px;
  margin-left: 10px;
  margin-top: 8px;
  text-align: left;
}

.colors {
  font-size: 9px;
  font-style: bold;
  width: 60px;
  height: 40px;
  border-radius: 5%;
  background-color: #e65959;
}

.colorsM {
  font-size: 7.8px;
  font-style: bold;
  width: 50px;
  height: 40px;
  border-radius: 5%;
  background-color: #e65959;
}

.colors:hover,
.colorsM:hover {
  border: 2px solid #00ffcc;
  transition: all 0.2s;
  cursor: pointer;
}

.MuiMenu-paper {
  background-color: #121213 !important;
  color: white !important;
}
.MuiMenuItem-root:hover {
  border-radius: 3px !important;
  background-color: #222226 !important;
  transition: 0.4s, border 0.4s !important;
}

.BirthdayDiv {
  color: white;
  z-index: 1000;
  font-size: 12px;
  padding: 15px 5px 15px 5px;
  margin-left: 10.5px;
  margin-top: 44px;
  position: absolute;
  border-radius: 7px;
  max-width: fit-content;
  max-height: fit-content;
  opacity: 0.85;
  background: #121213;
  text-align: center;
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
}

@keyframes confettiRain {
  0% {
    opacity: 1;
    margin-top: -100vh;
  }

  100% {
    opacity: 0;
    margin-top: 15.5vh;
  }
}

.confetti {
  opacity: 0;
  position: absolute;
  width: 0.8rem;
  height: 1.5rem;
  transition: 500ms ease;
  animation: confettiRain 5s infinite;
}

#confetti-wrapper {
  overflow: hidden !important;
}
